/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1122px) {
    body header {
        padding: 10px 0px 40px;
    }
    body body .scroll-header {
        width: 1260px;
    }
    body .header-width {
        width: 970px;
    }
    // body .top-contacts {
    //     margin-right: 20px;
    // }
    body .top-menu .t-menu ul li {
        padding-right: 40px;
        font-size: 18px;
    }
    .f-right .top-contacts {
        margin-right: 50px;
    }
    .f-cont {
        width: 875px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    body .header-width,
    body body .scroll-header {
        width: 100%;
    }
    body .scroll-header .scroll-menu {
        width: 65%;
    }
    .top-contacts .phone-number {
        font-size: 21px;
    }
    body .top-menu .t-menu ul li {
        padding-right: 20px;
        font-size: 17px;
    }
    .servises .w-services,
    .w-services .s-info, 
    .w-services .s-photo,
    .w-services .background {
        height: 150px;
    }

    .w-services .s-info h2 {
        font-size: 27px;
    }
    .order-form input {
        margin-top: 10px;
    }
    .f-cont {
        width: initial;
    }
    body footer {
        padding: 5rem;
    }
    .f-right .top-contacts {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 806px) {
    body .order .order-form button {
        margin: 20px auto;
    }
    .order .order-form input {
        width: 100%;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
    body .header-width {
        width: 450px;
    }
    body .s-logo {
        margin-top: 30px;
        text-align: right;
    }
    body header {
        padding: 0px 0px 40px;
    }
    body .top-menu h1 {
        font-size: 29px;
        font-family: CaviarDreams, sans-serif;
        letter-spacing: 0.7px;
        font-weight: lighter;
        margin: 120px 0 20px 5px;
    }
    body .main-logo {
        margin-top: 30px;
    }
    body .main-logo a img {
        height: 210px;
        width: 75px;
    }
    .w-services .round,
    body section &:hover .round {
        width: 90px;
        height: 90px;
        margin-top: -45px;
        background-size: contain;
        left: 70px;
    }
    .w-services .s-info h2 {
        padding-left: 55px;
        font-size: 22px;
        margin-left: 75px;
    }
    body .about-me {
        padding: 3rem;
    }
    .white-bg .video-am {
        top: -15px;
    }
    body .order {
        padding: 5rem;
    }
    body footer {
        padding: 4rem;
    }
    body footer .top-f-bg {
        height: 76px;
        width: 100%;
        left: 0;
    }
    .top-contacts .phone-number {
        font-size: 17px;
    }
    .f-cont .f-right .top-contacts {
        text-align: center;
    }
    .order-form label {
        display: block;
        max-width: 100%;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    body .header-width {
        width: 315px;
    }
    body .soc-mobile {
        width: 196px;
    }
    body .top-menu p {
        margin-left: 20px;
        font-size: 15px;
    }
    body .top-menu h1 {
        font-size: 24px;
        letter-spacing: -0.9px;
    }
    .servises .w-services,
    .w-services .s-info {
        height: 120px;
        h2 {
            font-size: 18px;
            padding-left: 25px;
        }
    }
    .w-services .round,
    body section &:hover .round {
        width: 70px;
        height: 70px;
        margin-top: -35px;
        background-size: contain;
        left: 70px;
    }
    body .order {
        padding: 2rem;
    }
    body .order .order-form button {
        font-size: 15px;
        font-weight: bolder;
    }
    body .order .order-form input {
        padding: 10px 5px 10px 35px;
        letter-spacing: 1.1px;
    }
    body .order .order-form {
        padding: 2rem;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
