@import 'bootstrap';
@import 'media';
$page-color: #114da2;
$main-color:#842323;
// $accent-color:
$additional-color: #b8e2f7;
@font-face {
    font-family: CaviarDreams_BoldItalic;
    src: url('../fonts/CaviarDreams_BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CaviarDreams;
    src: url('../fonts/CaviarDreams.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CaviarDreams_Bold;
    src: url('../fonts/CaviarDreams_Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    // perspective: 1px;
    height: 100%;
    // overflow-x: hidden;
    // overflow-y: scroll;
    font-family: CaviarDreams, sans-serif;
}

.wrapper {
    perspective: 1px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    // max-width: 1260px;
    // margin: 0 auto;
}

.header-width {
    width: 1120px;
}

.header-padding {
    padding: 0;
}

.scroll-header {
    position: fixed;
    font-size: 20px;
    width: 1260px;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #666;
    box-shadow: 0px 4px 19px -2px rgba(0, 0, 0, 0.77);
    z-index: 15;
    .scroll-menu {
        z-index: 15;
        background-color: #FFF;
        text-align: center;
    }
    .top-menu {
        margin-top: 0;
        .t-menu ul li {
            padding-right: 40px;
            padding-bottom: 15px;
        }
    }
    .main-logo,
    .top-menu h1,
    .top-menu p,
    .top-contacts {
        display: none;
    }
}

header {
    width: calc(100% - 17px);
    padding: 1rem;
    background-color: #2b2b2d;
    background: url(../img/Free-Stressed-linen-patterns.jpg) center center;
    background-size: cover;
    height: 110px;
    border-bottom: 2px solid #fff;
    box-shadow: -5px 4px 19px -2px rgba(0, 0, 0, 0.77);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.main-logo a {
    display: block;
    position: relative;
    img {
        position: absolute;
        top: -6px;
        left: 15px;
        height: 100px;
        width: 140px;
    }
}

.top-menu {
    .t-menu {
        margin-top: 40px;
        text-align: center;
        ul {
            text-align: justify;
            padding-left: 0;
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 0;
            }
            li {
                display: inline-block;
                font-size: 20px;
                font-family: CaviarDreams, sans-serif;
                &:last-child {
                    padding-right: 0;
                }
                a {
                    color: white;
                    &:hover {
                        color: $page-color;
                    }
                }
            }
        }
    }
}

.phone-number {
    font-size: 22px;
    color: #fff;
    font-family: CaviarDreams, sans-serif;
    font-weight: 300;
    letter-spacing: -0.9px;
}

.button-call a {
    width: 200px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #010925;
    border-radius: 20px;
    font-weight: normal;
    background-color: transparent;
    text-align: center;
    padding: 5px 10px;
    &:hover {
        color: $page-color;
        border-color: $page-color;
        text-decoration: none;
    }
}

.phone-number,
.button-call {
    margin-bottom: 12px;
}

.vk-icon,
.facebook-icon,
.instagram-icon {
    a {
        display: block;
        width: 35px;
        height: 35px;
    }
}

.vk-icon a {
    background: url('../img/header/sprite-icon.png') 0px -35px no-repeat transparent;
    &:hover {
        background-position: 0px -71px;
    }
}

.facebook-icon a {
    background: url('../img/header/sprite-icon.png') -36px -35px no-repeat transparent;
    &:hover {
        background-position: -36px -71px;
    }
}

.instagram-icon a {
    background: url('../img/header/sprite-icon.png') -72px -35px no-repeat transparent;
    &:hover {
        background-position: -72px -71px;
    }
}

.soc-icons {
    display: inline-block;
    margin-left: 5px;
}

.top-contacts {
    margin-top: 20px;
    text-align: right;
}

// 
// -------------------mobile menu----------------
.mobile-menu {
    ul {
        padding-left: 0;
        margin-bottom: 0;
        li {
            list-style-type: none;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 20px;
            font-family: CaviarDreams, sans-serif;
            border-bottom: 1px dashed white;
            color: white;
            &:hover {
                background-color: #1c6ad8;
            }
            a {
                color: white;
                text-decoration: none;
                padding: 9px 36%;
            }
        }
    }
}

.soc-mobile {
    text-align: center;
    margin-top: 0;
    width: 280px;
}

.contact-icons {
    // margin-left: 35px;
}

.navbar-toggle {
    border: 1px solid #fff;
    border-radius: 4px;
    .icon-bar {
        background-color: #fff;
    }
    &:hover .icon-bar,
    &:focus .icon-bar {
        background-color: #000;
    }
}

.btn-default {
    &:hover,
    &:focus {
        color: #000;
        background-color: #fff;
        border-color: #adadad;
    }
}

.toggle-menu {
    width: calc(100% - 17px);
    background-color: rgba(43, 43, 45, 0.9);
    position: fixed;
    z-index: 5;
    top: -9999px;
    transition: top 0.25s;
}

.active-menu {
    top: 50px;
}

.navbar-header {
    height: 50px;
    width: calc(100% - 17px);
    position: fixed;
    z-index: 4;
    border-bottom: 2px solid white;
    background-color: rgba(43, 43, 45, 0.9);
    box-shadow: 0px 3px 20px -10px rgba(0, 0, 0, 0.89);
}

// ------------------------------------------------------------------
.w-services {
    height: 200px;
    display: block;
    position: relative;
    border-bottom: 1px solid #fff;
    z-index: 1;
    &:hover h2 {
        color: #000;
        transition: all .6s ease;
    }
    &:hover .background {
        opacity: 0;
        transition: all .6s ease;
    }
    &:hover .s-info {
        background: url('../img/sky-bg-hover.gif') center center no-repeat;
        background-size: cover;
        transition: all .6s ease;
    }
}

.servises {
    z-index: -1;
}

.section-width {
    width: 100%;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.s-photo {
    width: 100%;
    height: 200px;
    background: url("../img/services/wed_cer2.jpg") 0px -60px no-repeat;
    background-size: cover;
}

.s-photo2 {
    background: url("../img/services/2s.jpg") top left no-repeat;
    background-size: cover;
}

.s-photo3 {
    background: url("../img/services/pred ryki.jpg") center center no-repeat;
    background-size: cover;
}

.s-photo4 {
    background: url("../img/services/4s.jpg") top left no-repeat;
    background-size: cover;
}

.s-photo5 {
    background: url("../img/services/5s.jpg") top left no-repeat;
    background-size: cover;
}

.s-info {
    background: url('../img/sky-bg.gif') center center no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    h2 {
        color: #000;
        font-size: 28px;
        font-family: CaviarDreams, sans-serif;
        margin: 0;
        box-sizing: border-box;
        padding-left: 85px;
        transition: all .6s ease;
    }
}

.round {
    width: 113px;
    height: 114px;
    background: url("../img/services/1sb.png") center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -57px;
    left: 50%;
    margin-left: -56px;
    z-index: 2;
    transition: all .6s ease;
}

.round2 {
    background: url("../img/services/2sb.png") center center no-repeat;
    background-size: cover;
}

.round3 {
    background: url("../img/services/3sb.png") center center no-repeat;
    background-size: cover;
}

.round4 {
    background: url("../img/services/4sb.png") center center no-repeat;
    background-size: cover;
}

.round5 {
    background: url("../img/services/5sb.png") center center no-repeat;
    background-size: cover;
}

.background {
    position: absolute;
    width: 50%;
    height: 200px;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.78);
    transition: all .6s ease;
}

//====================Response Section================//
.response {
    padding: 45px 70px 90px;
    background-color: #313353;
    .res-title {
        text-align: center;
        font-size: 3em;
        color: #fff;
        margin-bottom: 20px;
    }
    .res-subtitle {
        position: relative;
        text-align: center;
        font-size: 1.3em;
        padding-bottom: 25px;
        text-transform: uppercase;
        line-height: 1.5;
        margin-bottom: 35px;
        color: #fff;
        &:after {
            content: '';
            height: 3px;
            width: 120px;
            position: absolute;
            bottom: 0;
            background-color: #ff9b9b;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}

.text-wrapper {
    display: inline-block;
    width: 75%;
    margin-left: 25px;
    color: #fff;
    .res-name {
        margin-bottom: 25px;
        color: #ffc692;
        text-decoration: underline;
        font-size: 1.3em;
    }
}

.res-img {
    display: inline-block;
    vertical-align: top;
    img {
        width: 120px;
        height: 120px;
    }
}
.carousel-mod {
    bottom: -50px;
}
.carousel-control-mod.right,
.carousel-control-mod.left {
    background-image: none;
}
.carousel-control .glyphicon-chevron-right {
    right: -20%;
}
.carousel-control .glyphicon-chevron-left {
    left: -30%;
}

// -------------------Section About Me-----------------
.about-me {
    &:before {
        position: absolute;
        content: 'ОБО';
        font-size: 13em;
        left: 6%;
        top: 78px;
        opacity: 0.1;
    }
    &:after {
        position: absolute;
        content: 'МНЕ';
        font-size: 8.75em;
        top: 15px;
        right: 15%;
        opacity: 0.1;
    }
    position: relative;
    background-color: #fff;
    margin-top: -3px;
    padding: 4rem;
}

.am-wrapper {
    max-width: 945px;
    margin: 0 auto;
    display: flex;
    .am-left {
        flex-grow: 1;
    }
    .am-right {
        flex-grow: 2;
    }
}

.am-right {
    display: flex;
    align-items: center;
    .am-photo {
        position: absolute;
        width: 48%;
        height: 90%;
        background: url('../img/bg-am.jpg') center center no-repeat;
        background-size: cover;
        box-shadow: 0 10px 10px 1px rgba(0, 0, 0, .15);
        z-index: 2;
    }
}

.tagline {
    position: absolute;
    left: -45px;
    bottom: -40px;
    font-family: BebasNeue-bold;
    font-size: 1.8em;
    line-height: 1.5;
    color: #ff9b9b;
    &:after {
        content: ':)';
        font-size: 3em;
        line-height: .8;
        position: absolute;
        top: 0;
        font-family: OpenSans-Light;
        right: -70px;
    }
}

.am-title {
    h3 {
        font-family: CaviarDreams_Bold;
        font-size: 3em;
        text-align: center;
    }
}

.am-subtitle {
    position: relative;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.5;
    padding-bottom: 25px;
    &:after {
        content: '';
        height: 3px;
        width: 120px;
        position: absolute;
        bottom: 0;
        background-color: #ff9b9b;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.am-list {
    margin-top: 35px;
    .list-items {
        list-style-type: none;
        padding: 0;
        li {
            margin-bottom: 25px;
            position: relative;
            padding-left: 30px;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                background-image: url(../img/sprite.png);
                background-position: -118px -33px;
                width: 17px;
                height: 12px;
            }
        }
    }
}

.am-list-wrapper {
    width: 420px;
    margin: 0 auto;
}

// =================== Section Intro ==================
.intro {
    // background: url("../img/sky-bg.jpg") center center;
    // padding: 25rem;
    // background-attachment: fixed;
    // background-size: initial;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    transform-style: inherit;
    background-color: #FFF;
    color: #fff;
    margin-top: 120px;
    z-index: -1;
    border-bottom: 3px solid #fff;
    &:before {
        background: url("../img/sky-bg.jpg") center center;
        background-size: cover;
        transform: translateZ(-1px) scale(2);
        z-index: 1;
        // background-attachment: fixed;
    }
}

.intro-left {
    color: #000;
    position: absolute;
    top: 40px;
    left: 50px;
    text-align: center;
    transform: translateZ(-2px) translateX(-460px) scale(3);
    z-index: 1;
    .intro-text {
        margin-left: 90px;
        h2 {
            letter-spacing: 2px;
            opacity: .5;
            font-size: 4.67em;
        }
        .lname {
            font-family: CaviarDreams_Bold;
        }
    }
}

.intro-input {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    padding-left: 45px;
    border-color: transparent;
    box-shadow: none;
    color: #555;
}

.intro-button {
    margin: 20px auto;
}

#about {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.parallax-forebg {
    background: url("../img/am-conture.png") no-repeat;
    background-position: 120px 100px;
    background-size: cover;
    position: absolute;
    // transform: translateZ(-1px) scale(2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/*============Fullscreen Video Opening Animation=======================*/

.video-container {
    width: 100vw;
    height: 100vh;
    background: url('../img/IMG_8545.jpg') center center no-repeat;
    background-size: cover;
    border-top: 20px solid #fff;
    border-bottom: 20px solid #fff;
    position: relative;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

.video-wrapper {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    .video-inner {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        opacity: 0;
        background: black;
    }
}

.video-photo-stack {
    width: 100%;
    margin: 4em 0;
    text-align: center;
    white-space: nowrap;
}

.photo-stack-img {
    width: 200px;
    max-width: 20%;
    height: 290px;
    max-height: 60%;
    margin: 0 -20px;
    border: 10px solid #fff;
    outline: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #aaa;
}

.photo-stack-rotation-1 {
    -webkit-transform: rotate3d(0, 0, 1, -8deg);
    transform: rotate3d(0, 0, 1, -8deg);
}

.photo-stack-rotation-2 {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, -1deg);
}

.photo-stack-rotation-3 {
    -webkit-transform: rotate3d(0, 0, 1, 9deg);
    transform: rotate3d(0, 0, 1, 9deg);
}

.video-wrap--show {
    pointer-events: auto;
    .video-inner {
        opacity: 1;
    }
    .action--close {
        opacity: 1;
        -webkit-transition-delay: 1.2s;
        transition-delay: 1.2s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.video-player {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.video-content {
    position: relative;
    .loader {
        font-size: 2.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}

.video-loaded .loader {
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.action {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 1.15em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 1em 2em;
    color: #fff;
    border: 2px solid;
    border-radius: 40px;
    background: none;
    -webkit-flex: none;
    flex: none;
    &:focus {
        outline: none;
    }
}

.action__label {
    display: inline-block;
    margin: 0 0 0 0.75em;
}

.action__label--hidden {
    position: absolute;
    top: 200%;
}

.action--play {
    display: block;
    margin: 3em auto;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s 0.1s;
    transition: opacity 0.3s 0.1s;
}

.video-loaded .action--play {
    opacity: 1;
    pointer-events: auto;
}

.action--close {
    line-height: 1;
    position: absolute;
    z-index: 1000;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    padding: 0;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
}

@keyframes showVideo-1 {
    50% {
        width: 50vw;
        height: 50vw;
        opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
        transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
    }
    100% {
        width: 100vw;
        height: 100vh;
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes showVideo-2 {
    50% {
        width: 50vh;
        height: 50vh;
        opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
        transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
    }
    100% {
        width: 100vw;
        height: 100vh;
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes hideVideo {
    0% {
        width: 100vw;
        height: 100vh;
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
    100% {
        width: 100vw;
        height: 100vh;
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
}


/*=====================================================================*/

.push3d-btn {
    background-color: #3bb3e0;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 10px 20px;
    border-left: solid 1px #2ab7ec;
    margin-left: 35px;
    border-color: transparent;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(44, 160, 202)), color-stop(1, rgb(62, 184, 229)));
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    &:hover,
    &:focus,
    &:active:hover,
    &:active:focus {
        border-color: transparent;
        color: #fff;
    }
    &:before {
        background-color: #2561b4;
        font-family: 'Glyphicons Halflings';
        content: "\e182";
        width: 35px;
        height: 39px;
        position: absolute;
        display: block;
        padding-top: 9px;
        top: -1px;
        left: -36px;
        font-size: 16px;
        font-weight: bold;
        color: #8fd1ea;
        text-shadow: 1px 1px 0px #07526e;
        border-right: solid 1px #07526e;
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(10, 94, 125)), color-stop(1, rgb(14, 139, 184)));
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999;
    }
}

.push3d-btn:active {
    color: #fff;
    border-color: transparent;
    top: 3px;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(62, 184, 229)), color-stop(1, rgb(44, 160, 202)));
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    &:before {
        top: -4px;
        box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999;
    }
}

.order {
    padding: 12rem;
    background: url('../img/IMG_8700.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all .6s ease;
    .order-form {
        max-width: 657px;
        margin: 0 auto;
        background-image: url('../img/bg-form.jpg');
        background-position: center center;
        font-family: CaviarDreams, sans-serif;
        text-align: center;
        border-radius: 5px;
        border: 1px solid white;
        color: #fff;
        padding: 4rem;
        box-shadow: 0px 4px 19px -2px #f5f5f5;
        input {
            padding: 10px 40px 10px;
            border-radius: 5px;
            color: #737373;
            margin-right: 15px;
        }
        button {
            margin: 20px auto;
        }
        input.name {
            background: url(../img/name-icon.png) no-repeat center left #fff;
        }
        input.phone {
            background: url(../img/phone-icon.png) no-repeat center left #fff;
        }
        h3 {
            margin-top: 0px;
            font-size: 28px;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }
}

footer {
    padding: 10rem;
    background-color: #2b2b2d;
    position: relative;
    border-top: 2px solid #fff;
    .f-left {
        color: #fff;
        text-align: center;
        p {
            margin-top: 30px;
        }
    }
}

.contact-info .top-contacts {
    margin-top: 0;
}

.f-cont {
    // width: 910px;
}

label {
    display: inline-table;
    max-width: 40%;
    height: auto;
    transition: all .6s ease;
}

#hidden_form {
    max-width: 420px;
    border: 1px solid white;
    box-shadow: 0px 4px 19px -2px #f5f5f5;
    border-radius: 5px;
    background-image: url(../img/bg-form.jpg);
    color: #fff;
    text-align: center;
    padding: 3rem;
    margin: auto;
    position: relative;
    .message-error {
        margin-left: 35px;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 25px;
    }
    label {
        max-width: 100%;
        margin-bottom: 15px;
        text-align: left;
        display: block;
        span {
            margin-left: 35px;
        }
        input {
            display: block;
            width: 80%;
            margin: auto;
            border: 1px solid #737373;
            line-height: 30px;
            border-radius: 5px;
            color: #737373;
            text-indent: 35px;
            margin-top: 7px;
        }
        input.name {
            background: url(../img/name-icon.png) no-repeat center left #fff;
        }
        input.phone {
            background: url(../img/phone-icon.png) no-repeat center left #fff;
        }
    }
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.button-wrap {
    margin-top: 15px;
    span {
        margin-right: 10px;
    }
}

.message-error {
    color: #ff2121;
    text-align: left;
    margin-top: 5px;
    letter-spacing: 1.5px;
    transition: all .6s ease;
}

.message-error.phoneDiv,
.message-error.nameDiv {
    max-width: 100%;
}
